<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Buy longboard</title>
    {% load staticfiles %}

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "main.css" %}">

	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="{% static "favicon.ico" %}">
	<link rel="icon" type="image/png" sizes="196x196" href="{% static "favicon-192.png" %}">
	<link rel="icon" type="image/png" sizes="160x160" href="{% static "favicon-160.png" %}">
	<link rel="icon" type="image/png" sizes="96x96" href="{% static "favicon-96.png" %}">
	<link rel="icon" type="image/png" sizes="64x64" href="{% static "favicon-64.png" %}">
	<link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon-32.png" %}">
	<link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon-16.png" %}">
	<link rel="apple-touch-icon" href="{% static "favicon-57.png" %}">
	<link rel="apple-touch-icon" sizes="114x114" href="{% static "favicon-114.png" %}">
	<link rel="apple-touch-icon" sizes="72x72" href="{% static "favicon-72.png" %}">
	<link rel="apple-touch-icon" sizes="144x144" href="{% static "favicon-144.png" %}">
	<link rel="apple-touch-icon" sizes="60x60" href="{% static "favicon-60.png" %}">
	<link rel="apple-touch-icon" sizes="120x120" href="{% static "favicon-120.png" %}">
	<link rel="apple-touch-icon" sizes="76x76" href="{% static "favicon-76.png" %}">
	<link rel="apple-touch-icon" sizes="152x152" href="{% static "favicon-152.png" %}">
	<link rel="apple-touch-icon" sizes="180x180" href="{% static "favicon-180.png" %}">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="{% static "favicon-144.png" %}">
	<meta name="msapplication-config" content="{% static "browserconfig.xml" %}">
  </head>

  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><font color="white"><strong>Buy longboard</strong></font></a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-center">
                    <li><a href="/"><font color="white"><strong>Каталог</strong></font></a></li>
                    <li class="active"><a href="/order/"><font color="white"><strong>Контакты</strong></font></a></li>
                </ul>
            </div>
        </div>
      </nav>

      <br>
      <br>
          <div class="jumbotron jumbo" height=1500px>
            <div>
          <font color="white">
              <center><h1><strong>Buy longboard</strong></h1></center>
              <p><center><h3>Привет, друг, хочешь купить лонгборд? Ты обратился по адресу.</h3></center></p>
              <p><center><h3>В нашем магазине Buy longbord ты сможешь найти лонгборды любой формы, любого цвета и размера.</h3></center></p>
              <p><center><h3>Мы сотрудничаем со всеми известными производителями.</h3></center></p>
              <p><center><h3>Анализируя весь рынок лонгбордов, мы устанавливаем самые низкие цены.</h3></center></p>
              <p><center><h3>Неважно, новичок ты или профессионал, у нас ты найдешь все, что тебе нужно.</h3></center></p>
          </font>
              <center>
              <a href="/" class="btn btn-lg btn-primary">В каталог</a>
              </center>
            </div>
          </div>

    <div class="container">
      <!-- Example row of columns -->
         <h1><p class="text-center">Контакты</p></h1>
         <h3><p class="text-center">Пообщаться с нами и заказать наши лонгборды вы можете так:</p></h3>
         <h3><p class=""> 1) По телефону:</p></h3>
         <h3><p class="indent"> +7-985-224-44-38 Максим </p></h3>
         <h3><p class=""> 2) Оставить заявку на email и мы сами с вами свяжемся:</p></h3>
         <h3><p class="indent"> buylongboardd@gmail.com </p></h3>
         <h3><p class=""> 3) Связаться с нашими менджерами в социальных сетях:</p></h3>
         <h3><p class="indent"> <a href="https://vk.com/maxemot">Максим</a></p></h3>
         <br>
         <h1><p class="text-center">Способы оплаты</p></h1>
         <h3><p class="indent">Наличными курьеру</p></h3>
         <h3><p class="indent">Оплата электронными деньгами (paypal, qiwi, сбербанк, ...)</p></h3>
         <br>
         <h1><p class="text-center">Доставка</p></h1>
         <h3><p class="text-center">В пределах Москвы:</p></h3>
         <h3><p class="indent"> До любой станции метро - бесплатно</p></h3>
         <h3><p class="indent"> До дома - 300р</p></h3>
         <h3><p class="text-center">За пределами Москвы:</p></h3>
         <h3><p class="indent">Обговаривается по телефону</p></h3>
        <center><a class="pull-middle btn btn-primary btn-lg" href="/" role="button">Вернуться в каталог</a></center>
        <hr>
        <footer class="text-center">
        <!-- Yandex.Metrika informer -->
        <a href="https://metrika.yandex.ru/dashboard?id=35322615&amp;from=informer" target="_blank" rel="nofollow">
            <img src="https://informer.yandex.ru/informer/35322615/3_1_FFFFFFFF_EFEFEFFF_0_pageviews" style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" onclick="try{Ya.Metrika.informer({i:this,id:35322615,lang:'ru'});return false}catch(e){}" />
        </a>
        <!-- /Yandex.Metrika informer -->
        </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
    (function (d, w, c) { (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter35322615 = new Ya.Metrika({
                id:35322615, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true
            });
        } catch(e) { }
    });
    var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = "https://mc.yandex.ru/metrika/watch.js";
    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else {
        f();
    }
    })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript>
        <div><img src="https://mc.yandex.ru/watch/35322615" style="position:absolute; left:-9999px;" alt="" /></div>
    </noscript>
     <!-- /Yandex.Metrika counter-->

    </body>
</html>
